.search-bar{
    display: inline-block;
    height: 34px;
    margin-top: 8px;
    flex:1;
    padding-left: 12px;
    font-size: 16px;
    border:1px solid rgb(204, 204, 204);

     margin-bottom: 10px;

}
.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
 
    margin-left: 70px;
 

}
.vidieo-info-grid{
    display: grid;
    grid-template-columns: 50px,1fr
    column-gap: 10px;
}
.channel-picture{
    display: inline-block;
    width: 52px;
    vertical-align: top;
}
.video-info{
    display: inline-block;
    width: 200px;
}
.profile-picture{
    width: 36px;
     height: 36px;
    border-radius: 50px;

    
}
.thubnail-row{
    width: 309px;
    margin-bottom: 12px;

}
p{
    font-family: Roboto, arial;
    margin-bottom: 0%;
}
.thumblain{
    width: 309px;
     display: block;
     height: 180px;
}
.vidio-author{
    font-size: 12px;
    margin-bottom: 0;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    color: rgb(96, 96, 96);
    box-sizing: border-box;
    display: block;
    
}
.videio-status{
      font-size: 12px;
    margin-bottom: 0;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color: rgb(96, 96, 96);
    box-sizing: border-box;
    display: block;
}
.vidio-title{
    margin-top:8px;
    font-size:14px;
    font-weight: 500;
    width: 100%;
    line-height: 20px;
    margin-bottom: 0;
   
}
.body{
    margin:0;
    margin-right: 50px;
    
}
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.left-section{
 align-items:center;
   
}
.right-section{
    background-color:lightblue;
    width: 182px;
    
}
.center-section{
    margin-left: 70px;

flex: 1;
margin-right: 35px;
max-width: 400px;
display:flex;
flex-direction: row;
}
.hamberg-menu{
    margin-left:24px;
    margin-right:24px;
    margin-top: 12px;
height:20px;
 align-items:center;
}
.youtube-menu{ 
     align-items:center;
height:20px;
margin-top: 12px;
}
.voice-search {
     height: 24px;
    align-items:center;
   box-sizing: border-box;
   
}
.search-icon{
   height: 24px;
}
.search-button{
 
    align-items: center;
    margin-left: -1;

 

}
.voice-bottun{
;
   
}